<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialdesignicons.css" media="all" rel="stylesheet" type="text/css" />
  <% include ./partials/header %>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="purple valign-wrapper">
  <div class="container">
    <!-- Page Content goes here -->
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card">
          <div class="card-content grey-text no-bottom-padding">
            <span class="card-title">Sign In</span>
            <form action="/login" method="POST">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix" type="text" class="validate" required>
                  <label for="icon_prefix">Username</label>
                </div>
                <div class="input-field col s12">
                  <i class="mdi mdi-lock prefix"></i>
                  <input id="icon_prefix" type="text" class="validate" required>
                  <label for="icon_prefix">Password</label>
                </div>
                <div class="input-field col s12 center">
                  <button type="submit" class="waves-effect btn rounded caribbean-green full-width">
                    <i class="mdi mdi-login-variant left"></i> Sign In</button>
                </div>
                <div class="input-field col s12 center">
                  <a class="waves-effect btn rounded red full-width">
                    <i class="mdi mdi-google left"></i>Connect with Google</a>
                </div>
                <div class="input-field col s12 center">
                  <a class="waves-effect btn rounded blue full-width">
                    <i class="mdi mdi-linkedin-box left"></i>Connect with LinkedIn</a>
                </div>
                <div class="input-field col s12 center">
                  <a class="waves-effect btn rounded grey darken-2 full-width">
                    <i class="mdi mdi-github-circle left"></i>Connect with GitHub</a>
                </div>
              </div>
            </form>
          </div>
          <div class="card-content grey-text">
            <p>Don't have an account ?,
              <a class="" href="javascript:void(0);">Sign Up</a>
              <a class="right" href="">Forgot Password ?</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include ./partials/footer %>
</body>

</html>