/*
*Custom SASS for sass-css pipeline
*written by Sandeep Vattapparambil
*/

//Color palette
$ghost-white: #F8F8FA;
$blue-violet: #7A40F1;
$hawkes-blue: #D7DBE4;
$quartz: #DCD8EB;
$medium-purple: #9B6EF5;
$caribbean-green: #16DBA7;
$gradient-start: $blue-violet;
$gradient-end: #A024FF;
$grey: #9e9e9e;
//horizontal gradient mixin
@mixin horizontal-gradient($from, $to, $stop: 100%) {
    /* fallback/image non-cover color */
    background-color: $from;
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(left, $from 0%, $to $stop);
    /* Safari 4+, Chrome 1+ */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop($stop, $to));
    /* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(left, $from 0%, $to $stop);
    /* IE10+ */
    background: -ms-linear-gradient(left, $from 0%, $to $stop);
    /* Standard */
    background: linear-gradient(to right, $from 0%, $to $stop);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to', GradientType=1);
}
a{
    color: #7A40F1;
}
.purple {
    @include horizontal-gradient($gradient-start, $gradient-end);
}

.caribbean-green {
    background: $caribbean-green;
}
nav {
    height: 60px;
    line-height: 60px;
    div.nav-wrapper {
        a.brand-logo {
            font-weight: 300;
        }
    }
}

/* label color */

.input-field label {
    color: $grey;
}

/* label focus color */
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
.input-field input[type=text]:focus+label {
    color:$blue-violet;
}

/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid $blue-violet;
    box-shadow: 0 1px 0 0 $blue-violet;
}

/* valid color */
input[type=text]:not(.browser-default):focus:not([readonly]),
.input-field input[type=text].valid {
    border-bottom: 1px solid $blue-violet !important;
    box-shadow: 0 1px 0 0 $blue-violet !important;
}

/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}

/* icon prefix focus color */

.input-field .prefix.active {
    color:$blue-violet;
}

.btn.rounded{
    border-radius: 50px;
    text-transform: capitalize;
}
.card>.card-content.no-bottom-padding{
    padding-bottom: 0;
}

.card > .card-content.grey-text{
    border-top: 1px solid rgb(233, 230, 230);
}